.button:hover {
  border-radius:0px !important;
}

@media (max-width: 991px) {
  #row-div {
    max-width:700px !important;
  }
}

@media (max-width: 767px) {
  #row-div {
    max-width:450px !important;
  }
}

#row-div {
  max-width:945px;
  margin:0 auto;
}

.col-md-3.col-sm-4.col-xs-6.col-div {
  margin-bottom:70px;
}

@media (max-width: 991px) {
  .col-md-3.col-sm-4.col-xs-6.col-div {
    margin-bottom:25px;
  }
}

.wrapper-div {
  max-width:120px;
  margin:0 auto;
  display:flex;
  flex-direction:column;
  align-content:center;
  align-items:center;
}

.icon {
  width:108px;
}

.text {
  font-size:16px;
  text-align:center;
  margin:0;
  margin-top:25px;
  font-family:roboto;
  color:#7D5AB5;
  font-weight:300;
}

@media (max-width: 991px) {
  .text {
    margin-top:9px;
  }
}

.big-heading {
  margin:0;
  margin-top:80px;
  font-family:raleway;
  margin-bottom:26px;
  color:#7D5AB5;
  font-weight:600;
  font-size:40px;
}

@media (max-width: 768px) {
  .big-heading {
    margin-top:50px;
    font-size:27px;
  }
}

.sub-heading {
  font-family:roboto;
  margin:0;
  margin-bottom:55px;
  font-size:16px;
  color:#7D5AB5;
  line-height:23px;
  font-weight:300;
}

@media (max-width: 768px) {
  .sub-heading {
    margin:0 auto;
    margin-bottom:33px;
    padding:0 17.5px;
    max-width:450px;
  }
}

@media (max-width: 768px) {
  .empty-icon {
    /*width:108px;*/
    /*margin-right:40px;*/
    display:none;
  }
}

@media (max-width: 767px) {
  .item-heading {
    font-size:20px !important;
    line-height:25px !important;
  }
}

.gs-icon-heading {
  max-width:760px;
  margin:0 auto;
  display:flex;
  align-items:start;
  padding:0px 20px;
}

@media (max-width: 767px) {
  .gs-icon-heading {
    align-items:center;
  }
}

.gs-content {
  max-width:760px;
  margin:0 auto;
  display:flex;
  align-items:center;
  padding:0px 20px;
  margin-top:-50px;
}

@media (max-width: 767px) {
  .gs-button {
    text-align:center;
    margin:25px 0 55px 0px;
  }
}

.gd-wrapper {
  /*text-align:center;*/
  max-width:760px;
  margin:0 auto;
}

@media (max-width: 767px) {
  .gd-wrapper {
    max-width:450px;
  }
}

.gs-img {
  width:108px;
  margin-right:40px;
}

@media (max-width: 767px) {
  .gs-img {
    margin-right:14px;
  }
}

@media (max-width: 767px) {
  .gs-content {
    margin-top:0px;
  }
}

.empty {
  width:243px;
  /*height:108px;*/
  display:block;
  margin-right:40px;
}

@media (max-width: 767px) {
  .empty {
    display:none;
  }
}

.he-flex {
  max-width:1130px;
  margin:0 auto;
  display:flex;
  align-items:center;
}

@media (max-width: 767px) {
  .he-flex {
    flex-direction:column;
  }
}

.he-img {
  width:423px;
  /*height:300px;*/
  margin-right:64px;
}

@media (max-width: 767px) {
  .he-img {
    margin:0;
    transform:translate(-30px, 0);
    width:305px;
  }
}

.he-img {
  margin:0;
  margin-right:64px;
}

.he-img-div {
  margin:98px 0;
}

@media (max-width: 767px) {
  .he-img-div {
    margin:0;
  }
}

.he-heading {
  font-size:50px;
  margin:0;
  margin-bottom:36px;
  font-family:raleway;
}

@media (max-width: 1024px) {
  .he-heading {
    font-size:40px;
  }
}

.he-content {
  color:white;
}

@media (max-width: 767px) {
  .he-content {
    margin:0;
    padding:0 20px;
    max-width:500px;
    margin-bottom:55px;
  }
}

@media (max-width: 1024px) {
  .he-img {
    transform:translate(-60px, 0);
    margin-right:-20px;
  }
}

@media (max-width: 767px) {
  .he-heading {
    font-size:32px;
    margin-top:27px;
  }
}

.zig-icon {
  margin:80px 0;
}

.col-md-8.zig-content {
  padding-left:55px;
  padding-top:80px;
  padding-bottom:50px;
  color:white;
  text-align:justify;
  text-justify:inter-word;
}

@media (max-width: 767px) {
  .col-md-8.zig-content {
    padding:0px 20px;
    max-width:500px;
    margin:0 auto;
  }
}

zig-heading {
  font-family:raleway;
  margin:0;
  font-size:40px;
  font-weight:500;
  margin-bottom:32px;
}

zig-heading {
  font-family:raleway;
  margin:0;
  font-size:40px;
  font-weight:500;
  margin-bottom:32px;
}

@media (max-width: 767px) {
  .zig-icon {
    margin:27px 0;
  }
}

.zig-heading {
  font-family:raleway;
  font-size:40px;
  margin-bottom:32px;
  font-weight:600;
  margin-top:0px;
}

.zig-icon-div {
  width:234px;
}

@media (max-width: 767px) {
  .zig-icon-div {
    width:190px;
  }
}

@media (max-width: 768px) {
  .zig-heading {
    font-size:27px;
    text-align:center;
  }
}

.bt-arrow {
  width:12px;
  margin-bottom:3px;
}

.bt-text {
  color:white;
  font-family:raleway;
  margin-right:8px;
  display:inline-block;
}

.bt-graident {
  background:linear-gradient(-60deg, rgba(68, 178, 233, 0.88) 0%, rgba(197, 41, 181, 0.88) 100%, rgba(197, 41, 181, 0.88) 102%);
  display:inline;
  padding:16px 34px;
  margin:0;
  border-radius:50px;
  align-items:center;
  align-content:center;
  box-shadow:1px 13px 35px #422db23d;
}

.bt-text {
  font-size:17px;
  color:white;
  font-family:raleway;
  margin-right:15px;
  display:inline-block;
}

@media (max-width: 767px) {
  .bt-text {
    font-size:13px;
  }
}

.bt-arrow {
  width:19px;
  margin-bottom:4px;
}

@media (max-width: 767px) {
  .bt-arrow {
    width:12px;
    margin-bottom:3px;
  }
}

@media (max-width: 767px) {
  .bt-graident {
    padding:10px 21px;
  }
}

.gs-button {
  margin:30px 0px 55px 0px;
}

.he-paragraph {
  font-size:16px;
  margin:0;
  line-height:25px;
  font-weight:300;
  font-family:roboto;
  padding-right:30px;
  text-align:justify;
  text-justify:inter-word;
}

@media (max-width: 767px) {
  .he-paragraph {
    padding-right:0px;
  }
}

.lt-box {
  box-shadow:1px 13px 35px rgba(66,45,178,0.12);
  margin:0px 0px 20px 0px;
  border-radius:8px;
  display:flex;
  flex-direction:column;
  align-items:center;
  background-color:white;
  border-radius:8px;
  padding:23px;
  height:580px;
}

.lt-icon {
  margin-top:23px;
}

@media (max-width: 767px) {
  .lt-icon {
    margin:0;
  }
}

.lt-heading {
  font-family:raleway;
  font-size:20px;
  color:#7D5AB5;
  margin:0;
  margin:26px 0px;
}

@media (max-width: 767px) {
  .lt-heading {
    margin:15px 0px;
  }
}

@media (max-width: 767px) {
  .lt-box {
    height:465px;
  }
}

@media (max-width: 475px) {
  .lt-box {
    height:calc(940px - 100vw);
    max-height:580px;
  }
}

@media (max-width: 767px) {
  .lt-button {
    bottom:4%;
  }
}

.ex-box {
  box-shadow:1px 13px 35px rgba(66,45,178,0.12);
  margin:0px 0px 20px 0px;
  border-radius:8px;
  transition:all 0.3s ease;
}

.ex-box:hover {
  transform:translate(0px,-5px);
}

